body {
	font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}



ul, ol {
	list-style-type: none;
	margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	
}
a {
	text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 0;
}

button {
	cursor: pointer;
}

img {
display: block;
}

.container {
	width: 320px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	align-items: center;
}

.logo-blue {
		color: #4d5ae5;
}

.logo {
	font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.17;
		letter-spacing: 0.03em;
		text-transform: uppercase;
			margin-right: 76px;
			
}


.header {

	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
	display: flex;
	align-items: center;
	flex-grow: 1;

}

.header-logo {
	color: #2e2f42;
}



.header-list-link {
	font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #2E2F42;
		padding: 24px 0;
		display: block;
		position: relative;
		color: #404bbf;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}


.header-underline::after {
	content: "";
	width: 100%;
	position: absolute; 
	left: 0;
	bottom: -1px;
	height: 4px;
	background-color: #404bbf; 
	border-radius: 2px;

}

.header-list-link:hover,
.header-list-link:focus {
color: #404bbf;
}

.header-menu-list {
	display: flex;
		gap: 40px;

}


.header-address {
	font-style: normal;
	display: flex;
	text-align: center;
}

.header-address-list {
	display: flex;
		gap: 40px;
}

.header-address-link {
	font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #434455;
		transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
color: #404bbf;
}

.hero {
	background-color: #2e2f42;
	padding: 188px 0;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1440px;
	background-size: cover;
	margin: 0 auto;
	background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office1.jpg);
}

.hero-title {
	font-weight: 700;
		font-size: 56px;
		line-height: 1.07;
		letter-spacing: 0.02em;
		text-align: center;
		color: #FFFFFF;
			margin-bottom: 48px;
		max-width: 496px;
		margin-left: auto;
		margin-right: auto;
}

.hero-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.04em;
        color: #FFFFFF;
		background-color: #4D5AE5;
		cursor: pointer;
		border-radius: 4px;
		border: none;	
		display: block;
		min-width: 169px;
		height: 56px;
		margin: 0 auto;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.hero-btn:hover,
.hero-btn:focus {
	background-color: #404BBF;
}
.features-list-subtitle {
	font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
		color: #2E2F42;
		margin-bottom: 8px;
}

.features {
/* 	padding: 120px 0;
 */}

.features-title {
margin-bottom: 8px;

	}


.features-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 112px;
	background-color: #f4f4fd;
	border: 1px solid #8e8f99;
	border-radius: 4px;
	width: 264px;
	margin-bottom: 8px;
	visibility: hidden;
}

.features-list {
	display: flex;
	/* gap: 24px; */
	gap: 72px;
	flex-wrap: wrap;
}

.features-list-item {
/* 	width: calc((100% - 72px) / 4);
 */
}

.features-list-text {
	font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:#434455;
}

.team {
	background-color: #F4F4FD;
	padding: 120px 0;
}

.team-list {
	display: flex;
	gap: 24px;
}

.team-list-item {
	background-color: #FFFFFF;
	width: calc((100% - 72px) / 4);
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-container {
	padding: 32px 0;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 24px;
}

.team-member-social {
	display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #4d5ae5;
		fill: #f4f4fd;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-social:hover,
.team-member-social:focus {
	background-color: #404bbf;
}


.team-title {
	font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-align: center;
		text-transform: capitalize;
		color: #2E2F42;
		margin-bottom: 72px;
}	

.team-list-subtitle {
	font-weight: 500;
		font-size: 20px;	
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: #2E2F42;
		text-align: center;
		margin-bottom: 8px;
}

.team-list-text {
	font-weight: 400;
		font-size: 16px;	
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #434455;
		text-align: center;
		margin-bottom: 8px;
}

.portfolio {
/* 	padding: 120px 0;
 */
 padding: 96px 0;
}

.portfolio-title {
	font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-align: center;
		text-transform: capitalize;
		color: #2E2F42;
			margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
gap: 48px;	/* column-gap: 24px;
	row-gap: 48px; */
}


.portfolio-image-container {
	position: relative;
	overflow: hidden; 
}

.portfolio-image-text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:#f4f4fd;
	padding: 40px 32px;
	background-color: #4d5ae5;
	overflow:auto;
	height: 100%;
	width: 100%;
	transform: translateY(100%); 
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item {
/* 	width: calc((100% - 48px) / 3);*/	
width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-image-text,
.portfolio-list-item:focus .portfolio-image-text {
	transform: translateY(0%);
}

.portfolio-list-item:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-description-container {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;

}

.portfolio-list-subtitle {
	font-weight: 500;
		font-size: 20px;	
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: #2E2F42;
			margin-bottom: 8px;
}

.portfolio-list-text {
	font-weight: 400;
		font-size: 16px;	
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #434455;
}

.footer-text {
	font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #F4F4FD;
		width: 264px;
		height: 71px;
}

.footer {
	background-color: #2E2F42;
		padding: 100px 0;

	}

	.footer-container {
		display: flex;
		align-items: baseline;

	}

	.footer-logo-container {
		margin-right: 120px;

	}

.footer-logo {
color: #F4F4FD;

}

.footer-logo-white {
	display: inline-block;
	margin-bottom: 16px;
}

.footer-social-text {
	font-weight: 500;
		font-size: 16px;
line-height: 24px; 
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		display: flex;
		margin-bottom: 16px;
		}

				.footer-social-list {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: row;
					gap: 16px;
				}

				.footer-social-link {
					width: 100%;
					height: 100%;
					border-radius: 50%;
						background-color: #4d5ae5;
						fill: #f4f4fd;
						display: flex;
						align-items: center;
						justify-content: center;
				}

				.footer-social-link:hover,
				.footer-social-link:focus {
					background-color: #31d0aa;
					transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				}

		.footer-social-svg {
			display: flex;
				align-items: center;
				justify-content: center;
				
			}

			.footer-social-item {
				display: flex;
					align-items: center;
					justify-content: center;
				width: 40px;
					height: 40px;
					
					
			}
	

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

	.modal {
		position: absolute;
		width: 408px;
        min-height: 584px;
		border-radius: 4px;
		background-color: #FCFCFC;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        top:50%;
		left: 50%;
        transform: translate(-50%, -50%);	
padding: 40px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 padding: 72px 24px 24px 24px;
	}

	.modal-button {
		position: absolute;
		top: 24px;
		right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
	
}

.modal-button:hover,
.modal-button:focus{
	background-color: #404bbf;
	border: none;


}

	.modal-title {
		font-family: "Roboto", sans-serif;
		font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #2E2F42;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 16px;
min-width: 306px;
	}


	.modal-button-svg {
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.modal-button:hover,
	.modal-button:focus {
		fill: #ffffff;
	}

	.modal-form {
		margin-bottom: 8px;
	}

	.modal-label {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: #8e8f99;
		display: block;
		margin-bottom: 4px;
	}

	.modal-input {
		width: 100%;
		height: 40px;
		border: 1px solid rgba(46, 47, 66, 0.4);
		border-radius: 4px;
		background-color: transparent;
		padding-left: 38px; 
		outline: transparent;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.modal-input:focus {
		border-color: #4D5AE5; 
	}

	.modal-input:focus + .modal-input-svg {
		fill: #4D5AE5;
	}

	.modal-input-svg {
		position: absolute;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	}

	.input-container {
		position: relative;
	}

	.modal-input-svg:focus-within {
		fill: #4D5AE5;
	}

	.modal-comment-field {
		width: 100%;
		height: 120px;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em; 
		color: rgba(46, 47, 66, 0.4);
		border: 1px solid rgba(46, 47, 66, 0.4);
		border-radius: 4px;
		background-color: transparent; 
		padding: 8px 16px;
		outline: transparent;
		resize: none; 
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		}

		.modal-comment-container {
			margin-bottom: 16px;
		}

		.modal-comment-field:focus-within {
			border-color: #4D5AE5; 
		}

		.privacy-agreement {
			font-size: 12px;
			line-height: 117%;
			letter-spacing: 0.04em;
			color: #8e8f99;			
		}
		.privacy-agreement-link {
			width: 16px;
			height: 16px;
			border: 1px solid rgba(46, 47, 66, 0.4);
			border-radius: 2px; 
			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			fill: transparent; 
			margin-right: 8px;
		}

		.input-comment:checked + .privacy-agreement > .privacy-agreement-link {
			background-color: #404bbf; 
			border: none;
			fill:#F4F4FD; 
		}

		
		.input-svg-container {
			margin-bottom: 24px;
		}

		.privacy-link {
			color:  #4d5ae5;
		}

		.send-button {
			font-family: "Roboto", sans-serif;
			font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
border-radius: 4px;
padding: 16px 32px;
margin: 24px 95px;
min-width: 169px;
height: 56px;
display: block;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
		}

		.footer-modal-text {
			margin-bottom: 16px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: 0.02em;
			color: #ffffff;
		}

		.footer-modal-form {
			display: flex;
			gap: 24px;
		}

		.footer-modal-input {
			border: 1px solid #ffffff;
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
color: #ffffff;
font-size: 12px;
line-height: 2; 
letter-spacing: 0.04em;
padding-left: 16px;
		}

		.footer-modal-input::placeholder {
			color: #ffffff;
		}

		.footer-modal-container {
			margin-left: 80px;
		}

		.footer-modal-button {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
font-family: "Roboto", sans-serif;
color:#FFFFFF;
cursor: pointer;
background-color: #4D5AE5;
border: none;
		}

		.footer-modal-svg {
			margin-left: 16px;
			color:#FFFFFF;
			top: 10px;
			left:10px;
		}


		@media screen and (min-width:768px) {
			.container {
				width: 768px;
			}
			.features-list-subtitle {
				text-align: left;
			}

			.features-list {
				gap: 72px 24px;
			}

			.features {
				padding: 96px 0;
			}

			.features-list-item {
				width: calc((100% - 72px) / 2);
			}

			.portfolio-list-item {
				width: calc((100% - 24px) / 2);

			}
			.portfolio-list {
					gap: 72px 24px;
			}
		}
		



		@media screen and (min-width:1200px) {
			.container {
				width: 1128px;
				padding-left: 15px;
				padding-right: 15px;
			}

			.features {
				padding: 120px 0;
			}

			.features-list {
				gap: 24px;
			}


			.features-list-item {
				width: calc((100% - 72px) / 4);
			}

			.features-list-subtitle {
				font-weight: 500;
                font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
			}

			.features-icon {
		visibility:visible;
			}

			.portfolio {
				padding: 120px 0;
			}

			.portfolio-list {
				column-gap: 24px;
				row-gap: 48px;
			}

			.portfolio-list-item {
				width: calc((100% - 48px) / 3);
			}

		}